.pusher {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #FBFDFE !important;
}

#mobile-menu-opener {
    display: none;
}

#desktop-menu {
    display: block;
    position: fixed;
}

#desktop-menu .item {
    opacity: 0.5;
}

#desktop-menu .item:hover {
    opacity: 1;
}

#desktop-menu .item.active {
    background-color: white;
    opacity: 1;
}

@media only screen and (max-width: 770px) {
    #mobile-menu-opener {
        display: flex;
    }

    #desktop-menu {
        display: none;
    }
}

